* {margin:0;padding:0;}
body,h1,h2,h3 {font: 400 14px/1.2 Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei}
img,img[src]{-webkit-animation:fadeIn 550ms linear;animation:fadeIn 550ms linear;}
body {background-color: #eff0f5;color: #333}

li{list-style: none;}
.p10 {padding: 10px;}

/*Star Font-face*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9eebm8');
	src:url('fonts/icomoon.eot?#iefix9eebm8') format('embedded-opentype'),
		url('fonts/icomoon.woff?9eebm8') format('woff'),
		url('fonts/icomoon.ttf?9eebm8') format('truetype'),
		url('fonts/icomoon.svg?9eebm8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-thumbs-up:before {content: "\e600";}
.icon-typing:before {content: "\e601";}

/*Star Image*/
.i-list .item .msg {border-style: solid; border-color:#ddd;border-image:url(ddata:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;-webkit-border-image:url(data:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;}

/*Star common*/
.tp-header { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -moz-flex; display: -ms-flexbox; display: flex; }
.tp-header { -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.tp-header { webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }
/*Star Head*/
.tp-header {height: 44px;font-size:16px;color:#fff;background-color: #445bad}


/*Star Index*/
.i-list .item {width: 100%;background-color: #fff; border-radius:3px;overflow: hidden;margin-bottom: 10px;position: relative;}
.i-list .item .user {padding: 10px;}
.i-list .item .user img{width: 30px;height: 30px;border-radius: 50%;float: left;margin-right: 10px;}
.i-list .item .user h3 {font-size: 13px;}
.i-list .item .user time {font-size:12px;color: #999}
.i-list .item .msg {padding: 10px;overflow: hidden; position: relative;border-width:1px 0;box-sizing:border-box;}
.i-list .item .msg .pic {width: 100%;height: 140px; overflow: hidden;}
.i-list .item .msg .pic img {width: 100%;display: block;}
.i-list .item .msg .info {font-size:16px;position: absolute;bottom:10px;left:10px;right:10px;color:#fff;padding:35px 10px 8px;box-shadow: 0 -26px 20px rgba(0,0,0,.35) inset}
.i-list .item .interact {padding: 10px;color:#888;}
.i-list .item .interact .inline{display: inline-block;width: 40px}
.i-list .item .interact .inline.current {color:#445bad ;}


/*Star Animation*/
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}